/*CSS Stylesheet*/

/*fixing the nav bar*/
nav {
    background-color: #162424;
    padding: 2rem;
    color: grey;
    font-size: 2rem;
}

/* NAME & CONTACT ME */
.fold-one {
    background-color: #B095BD;
    padding: 1rem;
    color: black;
    font-size: 3rem;
    border: 2px solid lightgrey;
}

.col-md-8 {
    border: 2px solid black;
    height: 20rem;
}

.col-md-4 {
    border: 2px solid black;
    height: 20rem;
}

/* ABOUT ME & EXPERIENCE BARS*/
.fold-two {
    background-color: #5F9496;
    padding: 10rem 5rem 10rem 5rem;
    font-size: 3rem;
}

#about-me {
    font-size: 2rem;
}

.col-md-6 {
    border: 2px solid black;
    height: 20rem;
}





/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}

/* solution based on phil walton  for flexbox sticky footer*/
footer {
    background-color: black;
    color: white;
}