/*CSS Stylesheet*/

/*fixing the nav bar*/
nav {
    background-color: #162424;
    padding: 2rem;
    color: grey;
    font-size: 2rem;
}



/* FOLD #1 NAME & GET IN TOUCH */
.fold-one {
    background-color: #B095BD;
    padding: 1rem;
    color: black;
    font-size: 3rem;
    border: 2px solid lightgrey;
}

.col-md-8 {
    border: 2px solid black;
    height: 50rem;
}

.col-md-4 {
    border: 2px solid black;
    height: 50rem;
}

/* font size for p tag in get in touch section */
#contact {
    font-size: 2rem;
}



/* FOLD #2 ABOUT ME & EXPERIENCE BARS*/
.fold-two {
    background-color: #5F9496;
    padding: 1rem;
    font-size: 3rem;
    border: 2px solid lightgrey;
}

#about-me {
    font-size: 2rem;
}

.col-md-6 {
    border: 2px solid black;
    height: 50rem;
}

.bars {
    text-align: center;
}



/* FOLD 3 EXPERIENCES */
.fold-three {
    background-color: lightblue;
    padding: 1rem;
    font-size: 3rem;
    border: 2px solid lightgrey;
}

.col-md-3 {
    border: 2px solid black;
    height: 50rem;
}

.col-md-9 {
    border: 2px solid black;
    height: 50rem;
}

/* font size for p tag in resume section */
#resume {
    font-size: 2rem;
}



/* FOLD 4 LATEST PROJECTS & CLIENTS*/
.fold-four {
    background-color: grey;
    padding: 1rem;
    font-size: 3rem;
    border: 2px solid lightgrey;
}

.col-md-6 {
    border: 2px solid black;
}

/* font size for p tag in latest projects */
#projects {
    font-size: 2rem;
}

/* font size for p tag in clients section */
#clients {
    font-size: 2rem;
}



/* FOLD 5 CONTACT FORM & GET IN TOUCH */
.fold-five {
    background-color: lightsteelblue;
    padding: 1rem;
    font-size: 3rem;
    border: 2px solid lightgrey;
}






/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}

/* solution based on phil walton  for flexbox sticky footer*/
footer {
    background-color: black;
    color: white;
}