/*CSS Stylesheet*/

/*fixing the nav bar*/
nav {
    background-color: #162424;
    padding: 2rem;
    color: grey;
    font-size: 3rem;
}

.fold-one {
    background-color: #B095BD;
    padding: 5rem;
    color: black;
    font-size: 3rem;
    border: 2px solid lightgrey;
}





/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}

/* solution based on phil walton  for flexbox sticky footer*/
footer {
    background-color: black;
    color: white;
}